# dependencies
client/node_modules
client/.pnp
client/.pnp.*
client/.yarn/*
!client/.yarn/patches
!client/.yarn/plugins
!client/.yarn/releases
!client/.yarn/versions

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build

# misc
client/.DS_Store
.DS_Store
client/*.pem
client/.env.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

client/.env*

# vercel
client/.vercel

# typescript
client/*.tsbuildinfo
client/next-env.d.ts

server/HELP.md
server/target/
!server/.mvn/wrapper/maven-wrapper.jar
!server/src/main/**/target/
!server/src/test/**/target/server
server/.env

### STS ###
server/.apt_generated
server/.classpath
server/.factorypath
server/.project
server/.settings
server/.springBeans
server/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
server/nbproject/private/
server/nbbuild/
server/dist/
server/nbdist/
server/.nb-gradle/
server/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# macOS
**/__MACOSX/
**/target/
**/.DS_Store

*.bak

.prettierrc
